<div class="p-4">

    <section class="d-flex flex-row mb-4">

        <button type="button" class="btn btn-primary me-3">Agregar</button>
        <select class="custom-select" id="inputGroupSelect01">
            <option disabled>Tipo usuario...</option>
            <option value="1">Estudiante</option>
            <option value="2">Docente</option>
            <option value="3">Administrador</option>
        </select>

    </section>


    <section class="mb-4">

        <form [formGroup]="formUsuario" class="d-flex flex-row mb-4">
            <div class="form-group me-3">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Nombre" formControlName="nombre">
            </div>
            <div class="form-group me-3">
                <label for="exampleInputPassword1">Correo</label>
                <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1"
                    placeholder="Correo">
            </div>

            <button (click)="crearUsuarios()" class="btn btn-primary">Guardar</button>
        </form>
    </section>


    <section>
        <table class="table table-hover">

            <thead>
                <td>
                    Nombre
                </td>
                <td>
                    Correo
                </td>

                <td>
                    Acciones
                </td>
            </thead>

            <tbody>

                <tr *ngFor="let u of listaUsuarios">
                    <td>
                        {{u.nombre}}
                    </td>

                    <td>
                        {{u.email}}
                    </td>

                    <td>
                        <button type="button" class="btn btn-secondary me-3">Editar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>



            </tbody>


        </table>
    </section>

</div>